*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body{
    margin: 5rem;
    margin-left: auto;
    font-family: Georgia, serif;
    font-size: 2rem;
    text-align: center;
    
}

nav{
    display: block;
    border: 0.1rem solid black;
    border-radius: 1rem;
    max-width: 600px;
    min-height: 50vh;
}

nav h2{
    border: 0.1rem solid transparent;
    padding: 1rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background: rgb(254, 227, 22);
    color: black;
}

nav ul li{
border-bottom: 0.1rem solid black;
list-style: none;
padding: 1rem;
}

nav li:last-child{
   border-radius: 0 0 0.8rem .8rem;
   border-bottom: 1px; 
}

#foods{
    text-decoration: underline;
    color: blue
}

p{
    font-size: 0.5em;
    text-align: center;
    padding:  2rem;
    font-weight: bold
}
nav ul li:hover,
li:focus{
    background: rgb(155, 126, 126);
    color: white;
}

@media(max-width: 600px){
    
    body{
        margin: 1rem auto 10px auto;
    }
    nav{
        display: block;
        border: 0.1rem solid black;
        border-radius: 1rem;
        width: 100%;
        min-height: 50vh;
    }

    nav ul li:hover,
li:focus{
    background: rgb(155, 126, 126);
    color: white;
}

p{
    font-size: 0.5em;
    padding: 1em;
}
}
